/* General Formatting */
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

body {
	background-color:#64aad0;
	padding: 0 0 2%;
}

/* CSS for Header */
#header, #work-header, #personal-header{
	background-color:#3c9dd0;
	color:#034769;
	padding:.625em;
	margin-bottom:.938em;
	padding:.938em .50em;
}

h3{
	color:#ff8b00;
	font-style: italic;
    font-size: 20px;
    text-shadow: 1px 1px #a65900;
    text-align:center;
}

ul {
	list-style-type:none;
	text-shadow: 1px 1px black;
	text-align:center;
}

#header li, nav a{
	color:white;
	font-weight:bold;
	line-height:1.5em;
	display:inline;
	padding:0 5%;
}

img {
	max-width: 100%;
	padding: ;
}

#skillsH3 {
	margin-top:1em;
	margin-bottom:.25em;
	text-shadow: 1px 1px black;
}

/* Main message */
#highlight {
	font-family:'Pacifico', sans-serif;
	color:#ff8b00;
	text-shadow: 1px 1px black;/*#a65900;*/
}

.welcome-message, .work-message, .personal-message {
	color:#034769;
	font-size: 2em;
	font-family:'Pacifico', sans-serif;
	text-shadow: 1px 1px #63add0;
	line-height:1.25em;
}

/* Navigation */
nav {
	background-color:#3c9dd0;
	padding:5% 0 3%;
}

nav a {
	color:#ff8b00;
	font-size:1.75em;
	font-family:'Pacifico', sans-serif;
}

nav a:hover {
	color:#ffbe73;
}

nav li {
	display:inline;
	padding: 2% 2% 0;
}

/* Body Formatting */
h2 {  /* This is for titles of sections */
	color:#ff8b00;
	font-family:'Pacifico', sans-serif;
	font-size:1.75em;
	text-shadow: 1px 1px black;
}

a {
	text-decoration:none;
}

/* Formatting for entries like work experience or projects */
#workExperience, #projects, #education, #mapdiv {
	padding-left:1.5em;
	margin-bottom:1em;
}
#mapDiv h2 {
	text-align:center;
}
#workExperience h2, #projects h2, #mapDiv h2, #education h2 {
	margin-bottom:.25em;
	border-bottom: 1px groove #ffbe73;
}

#workExperience img, #projects img{
	margin:1.25em 0;
	max-width: 95%;
}
.date-text {
	font-style:italic;
	color:#034769;
}
#workExperience a, #projects a{
	color:white;
	text-shadow: 1px 1px black;
}
#workExperience p, #projects p{
	padding-bottom:15px;
}
/* Contact info CSS */
#letsConnect {
	text-align:center;
}
#letsConnect li {
	color:white;
	font-weight:bold;
	line-height:1.5em;
	padding:0 5%;
	list-style-type:none;
	line-height:1.5em;
	text-shadow: 1px 1px black;
}

/* Main Image */
#header img {
	display:block;
	max-width: 100%;
	margin: 0 auto;
	padding:1.5em 0;
}


/* Map Stuff */
#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  margin-bottom:5%;
}

/* Modal CSS */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/* Media Queries */
@media only screen and (max-width: 527px){
	.welcome-message {
		font-size:1.75em;
	}
}
@media only screen and (max-width:452px){
	nav li{
		display:inherit;
	}
	nav li:nth-of-type(odd){
		background-color:#63add0;  
	}
}